.action-sec1{
    width: 100%;
    min-height:100vh;
    padding: 0 20px;
    background-image: url(../assets/action.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    overflow: hidden;
    h1, p, .buttons{
        position: relative;
        z-index: 2;
    }
    h1{
    font-size: var(--fs-h1);
    margin-bottom: 20px;
    }
    p{
        font-size:var(--fs-body);
        color: var(--color-light-gray);
        margin-bottom: 30px;
    }
    a{
        text-decoration: none;
        color:var(--color-white);
        font-size: 24px;
        border-radius: 34px;
        padding: 6px 9px;
        margin: 5px 5px;
    }
}
.action-sec1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.83);
    z-index: 1;
}
.action-sec2{
    background-color:var(--color-dark);
    text-align: center;
    width: 100%;
    min-height: 65vh;
    padding: 60px 20px;
    h2{
        font-size: var(--fs-h2);
        color: var(--color-white);
        padding-bottom: 20px;
    }
    .help-cards{
        display: flex;
        gap: 45px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .help-card{
        background-color: #222222;
        border-radius: var(--radius-lg);
        width: 350px;
        transition: transform 0.3s , box-shadow 0.3s;
        text-align: center;
        img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-top: 20px;
        }
        h3{
            font-size: var(--fs-h3);
            color:var(--color-green);
            padding: 5px;
        }
        p{
            font-size:var(--fs-body);
            color:var(--color-gray);
            line-height: 1.5;
            padding:5px 10px 15px 10px;
        }
    }
}
.help-card:hover{
    transform: translateY(-10px);
    box-shadow: 6px 6px 25px rgb(88, 13, 13);
}
.action-sec3{
    background-color: var(--color-dark);
    h2{
        font-size: var(--fs-h2);
        color: var(--color-white);
        text-align: center;
    }
}
.donation-cards{
    display: flex;
    flex-direction: column;
}
.donation-cards>div:first-child{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.donation-cards>div:last-child{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}
.donation-card-1{
    width: 365px;
    height: 200px;
    background-color: #222222;
    text-align: center;
    border-radius: 9px;
    span{
        font-size: 40px;
        color: var(--color-green);
        padding: 20px 0;
    }
    p{
        font-size: var(--fs-body);
        color: var(--color-gray);
        padding: 0 8px;
    }
}
.donation-card-2{
    max-width: 560px;
    width: 100%;
    height: 200px;
    background-color: #222222;
    text-align: center;
    border-radius: 9px;
    span{
        font-size: 40px;
        color: var(--color-green);
        padding: 20px 0;
    }
    p{
        font-size: var(--fs-body);
        color: var(--color-gray);
        padding: 0 8px;
    }
}
.select-amount{
    display: flex;
    flex-direction: column;
    h3{
        font-size: var(--fs-h3);
        color: var(--color-green);
        text-align: center;
        padding: 20px 0;
    }
    div {
        display: flex;
        justify-content: center;
        gap:15px ;
       margin-bottom: 40px;
        div{
            width: 125px;
            height: 125px;
            flex-wrap: wrap;
            border-radius: 50%;
            background-color: #222222;
            transition: all 0.3s;
            span{
            color: var(--color-green);
            font-size: 30px;
            align-self: center;
            transition: 0.3s;
            }
        }
    }
}
.select-amount div div:hover{
    background-color:  rgba(139, 0, 0, 0.1);
    transform: translateY(-7px);
}
.select-amount div div:hover span{
    color: var(--color-red);
}
@media(max-width:1024px){
    .donation-cards>div:first-child,.donation-cards>div:last-child{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .donation-card-1,.donation-card-2{
        width: 90%;
        height: auto;
        padding: 20px;
    }
    .donation-card-1 span,.donation-card-2 span{
        font-size: 35px;
    }
    .select-amount div{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .select-amount div div{
        width: 110px;
        height: 110px;
    }
    .select-amount div div span{
        font-size: 28px;
    }
}
@media(max-width:768px){
    .donation-cards>div:first-child,.donation-cards>div:last-child{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .donation-card-1,.donation-card-2{
        width: 95%;
        height: auto;
        padding: 15px;
    }
    .donation-card-1 span,.donation-card-2 span{
        font-size: 30px;
    }
    .select-amount div{
        flex-direction: column;
        gap: 10px;
    }
     .select-amount div div{
        width: 90px;
        height: 90px;
    }
     .select-amount div div span{
        font-size: 25px;
    }
}
.action-sec4 {
  background:var(--color-dark);
  padding: 80px 8%;
  width: 100%;
}
.organizations {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
}
.organization-describtion {
  flex: 1;
  min-width: 280px;
 h2 {
  margin-bottom: 30px;
  color: var(--color-white);
  position: relative;
  font-size: var(--fs-h2);
  text-align: right;
}
 p {
  line-height: 2;
  color: var(--color-gray);
 }  
}
.organizations-links {
  flex: 1; 
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.orgs {
  border-right: 4px solid var(--color-green);
  padding: 20px;
  background-color: rgba(255,255,255,0.03);
  transition: 0.3s ease;
  display: flex;
  gap: 25px;
  text-decoration: none;
  align-items: center;
  span{
    color: var(--color-white);
    font-size: 30px;
    transition: 0.3s;
  }
img{
    width: 65px;
    height: 65px;
    border-radius: 20px;
}
}
.orgs:hover {
  background-color: rgba(139, 0, 0, 0.1);
  transform: translateX(-10px);
  border-color: var(--color-red);
}
.orgs:hover span {
  color: var(--color-red);
}
@media(max-width:1024px){
    .organizations{
        flex-direction: column;
        gap: 40px;
    }
    .organization-describtion,.organizations-links{
        min-width: 100%;
    }
    .organization-describtion h2{
        text-align: center;
    }
    .orgs{
        font-size: 18px;
    }
}
@media(max-width:768px){
    .organizations{
        flex-direction: column;
        gap: 30px;
    }
    .organizations-links{
        gap: 15px;
    }
    .organization-describtion h2{
        text-align: right;
    }
    .orgs{
        font-size: 18px;
    }
}
.action-sec5 {
  background-color:var(--color-dark);
  padding: 80px 0;
  color: var(--color-white);
}
.project-goals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  max-width: var(--container-width);
  margin: auto;
  flex-wrap: wrap;
}
.project-goals .goals {
  flex: 1;
  min-width: 300px;
  text-align: right; 
}
.project-goals h2 {
  font-size: var(--fs-h2);
  color: var(--color-white);
  margin-bottom: 20px;
  position: relative;
  text-align: right;
}
.project-goals ul {
  list-style: none;
  padding-right: 0;
}
.project-goals ul li {
  position: relative; 
  padding-right: 22px; 
  margin-bottom: 12px;
  line-height: 1.7;
  font-size: var(--fs-body);
  color: var(--color-gray);
}
.project-goals ul li::before {
  content: "";
  position: absolute;
  right: 0;
  top:17px;
  transform: translateY(-50%); 
  width: 9px;
  height: 9px;
  border: 3px solid var(--color-green);
  background: transparent;
}
.project-goals .image-for-goals {
  flex: 1;
  min-width: 350px;
  text-align: center;
}
.project-goals .image-for-goals img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius-lg);
  transition: transform 0.3s ease;
}
.project-goals .image-for-goals img:hover {
  transform: scale(1.13);
}
@media(max-width:1024px){
    .project-goals{
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }
    .project-goals .goals , .project-goals .image-for-goals{
        min-width: 80%;
        text-align: center;
    }
    .project-goals ul li{
        padding-right: 18px;
    }
    .project-goals ul li::before{
        width: 7px;
        height: 7px;
        border-width: 2px;
    }
    .project-goals .image-for-goals{
        max-width: 90%;
    }
}
@media(max-width:768px){
    .project-goals{
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 20px 10px;
    }
    .project-goals .goals , .project-goals .image-for-goals{
        min-width: 95%;
        text-align: center;
    }
    .project-goals ul li{
        padding-right: 13px;
    }
    .project-goals ul li::before{
        width: 5px;
        height: 5px;
        border-width: 2px;
    }
    .project-goals .image-for-goals{
        max-width: 95%;
    }
}
.action-sec6{
    padding: 30px 10%;
    background-color:var(--color-dark);
}
 h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: var(--fs-h2);
    color: var(--color-white);
}
.contact-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 60px;
}
.contact-card{
    flex: 1;
    background:#222222 ;
    color:var(--color-white);
    padding: 30px;
    border: 2px solid var(--color-green);
    border-radius: 15px;
    text-align: center;
}
.contact-card i{
    font-size: 40px;
    margin-bottom: 15px;
    color: var(--color-green);
}
.contact-card h4{
    margin-bottom: 10px;
}
.contact-card a{
    color:var(--color-gray);
    text-decoration: none;
}
.contact-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    h3{
        color: var(--color-green);
        margin-bottom: 15px;
        font-size: var(--fs-h3);
    }
    p{
        color: var(--color-gray);
        line-height: 1.5;
        margin-bottom: 18px;
        font-size: var(--fs-body);
    }
    i{
        font-size: 40px;
        color: var(--color-green);
    }
}
.contact-form>div:first-child{flex: 1;}
.contact-form>div:last-child{flex: 1;}
form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
form input,form textarea{
    padding: 14px;
    border: 2px solid var(--color-green);
    border-radius: 33px;
    font-size: 15px;
    outline: none;
    background-color: #222222;
    color: var(--color-white);
    transition: 0.3s;
}
form input:focus,form textarea:focus{
    border-color: var(--color-red);
}
.btn-block{
    background-color: transparent;
}
@media(max-width:1024px){
    .contact-cards{flex-direction: column;
    gap: 20px;
    align-items: center;}
    .contact-card{
        width: 80%;
        text-align: center;
    }
    .contact-form{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .contact-form>div{
        width: 100%;
        text-align: center;
    }
    form{width: 100%;}
    form input,form textarea{
        width: 100%;
    }
    .contact-form i{
        font-size: 35px;
    }
}
@media(max-width:768px){
    .contact-cards{flex-direction: column;
    gap: 15px;
    align-items: center;}
    .contact-card{
        width: 95%;
        padding: 20px;
        text-align: center;
    }
    .contact-form{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .contact-form>div{
        width: 100%;
        text-align: center;
    }
    form{width: 100%;}
    form input,form textarea{
        width: 100%;
        padding: 12px;
    }
    .contact-form i{
        font-size: 25px;
    }
    .btn-secondary{
        font-size: 20px;
        padding: 10px;
    }
}
