@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Montserrat:wght@800&display=swap');

body,
html {
    margin: 0;
    padding: 0;
}

.gif {
    background-image: url(images/for-gaza-hero-bg.jpg);
    width: 100%;
    height: 200px;
    text-align: center;
}

.loading img {
    width: 5%;
}

.loading p {
    font-size: 30px;
}

.loading {
    padding: 10px 0px;

}

.hero-section {
    position: relative;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/war.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    z-index: 0;
    /* تحت الكل */
    animation: kenBurns 20s infinite alternate ease-in-out;
}

/* تأثير التدرج بلون الدم */
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(139, 0, 0, 0.6),
            /* أحمر دموي داكن */
            rgba(0, 0, 0, 0.8));
    z-index: 1;
}

.typewriter-container {
    position: relative;
    z-index: 2;
    text-align: center;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #fff;
    /* لون المؤشر أبيض ليناسب الخلفية */
    display: block;
    margin: 10px auto;
    color: #fff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 5px 10px rgba(0, 0, 0, 0.5);
}

.first {
    font-family: 'Cairo', sans-serif;
    font-size: 3rem;
    width: 0;
    animation: typing1 3s steps(25) forwards, blink 0.7s step-end infinite;
}

.second {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 0;

    animation: typing2 2.5s steps(20) forwards 3.5s, blink 0.7s step-end infinite 3.5s;
}

@keyframes typing1 {
    from {
        width: 0;
    }

    to {
        width: 550px;
    }


}

@keyframes typing2 {
    from {
        width: 0;
    }

    to {
        width: 500px;
    }


}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes blink {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: transparent;
    }
}

@keyframes kenBurns {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.3);

    }
}

.words {
    font-size: 30px;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.stat-number::after {
    content: counter(num);
}

@keyframes countUp {
    from {
        --num: 0;
    }

    to {
        --num: var(--final-num);
    }
}

.population {
    background-color: rgb(35, 0, 0);
    opacity: 0.9;
    padding: 80px 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

@keyframes bloodPulse {

    /*انيمشن النبض الدموي*/
    0% {
        box-shadow: 0 0 5px rgba(139, 0, 0, 0.4);
        border-color: rgba(139, 0, 0, 0.3);
    }

    50% {
        box-shadow: 0 0 20px rgba(139, 0, 0, 0.8);
        border-color: rgba(255, 0, 0, 0.6);
    }

    100% {
        box-shadow: 0 0 5px rgba(139, 0, 0, 0.4);
        border-color: rgba(139, 0, 0, 0.3);
    }
}

.cards {
    position: relative;
    flex: 0 1 350px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
    animation: bloodPulse 2s infinite ease-in-out;
    opacity: 1;
    transform: translateY(30px);
    transition: all 0.6s ease;
    border: 1px solid rgba(139, 0, 0, 0.3);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.4s;
}

.population.active .cards {
    opacity: 1;
    transform: translateY(0);
}

.card-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(138, 20, 20, 0.5) 50%,
            transparent 100%);
    display: flex;
    align-items: flex-end;
    padding: 25px;
}

.content {
    color: white;
    text-align: center;
    width: 100%;
}

.stat-number {
    display: block;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    counter-reset: num var(--num);
}

.stat-label {
    font-size: 1.1rem;
    font-family: 'Cairo', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
}

.cards:hover {
    transform: translateY(-15px);
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(139, 0, 0, 0.4);
}

.cards:hover .card-bg {
    transform: scale(1.2);
}

.img-1 {
    background-image: url('images/destruction-e1697743361399.webp');
}

.img-2 {
    background-image: url('images/نازحين.webp');
}

.img-3 {
    background-image: url('images/bodybags-e1698287143945.webp');
}

.img-4 {
    background-image: url('images/اسير.webp');
}

.img-5 {
    background-image: url('images/مصابين.jpeg');
}

.img-6 {
    background-image: url('images/حالات\ صحية\ .jpg');
}

.img-7 {
    background-image: url('images/slider02b.jpg');
}

.img-8 {
    background-image: url('images/bodybags-e1698287143945.webp');
}

.p {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.section-header {
    text-align: center;
    margin-bottom: 50px;

    margin-left: auto;
    margin-right: auto;
}

.section-header h2 {
    color: white;
    margin-bottom: 15px;
    font-size: 30px;

}

.section-header p {
    color: white;
    font-size: 25px;
    line-height: 1.6;
}

/* حركة الظهور من أسفل لأعلى (للكروت والكلام) */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-header h2 {
    animation: fadeInDown 1s ease-out forwards;
}

.section-header p {
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

.bulding-map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 0, 0);
    opacity: 0.9;
    overflow: hidden;
}

.bulding-map img {
    width: 45%;
    height: 100vh;
    transition: transform 0.5s ease;
    filter: grayscale(40%) contrast(1.1);
}

.bulding-map:active img {
    transform: scale(1.2) translateX(20px);
    filter: grayscale(0%);
}

.img-overlay {
    background-image: url(images/slider02b.jpg);
    position: relative;
    width: 55%;
    height: 100vh;
    background-size: cover;

}

.img-overlay div {
    position: absolute;
    background: rgba(139, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.content-map {
    position: relative;
    font-size: 30px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
    z-index: 2;
    color: white;
}

.typing-text {
    overflow: hidden;
    white-space: nowrap;
    border-left: 3px solid transparent;
    width: 0;
    text-align: center;
}

.line-1 {
    font-size: 30px;
    font-weight: 700;
    animation: typing 3s steps(30) forwards;
}

.line-2 {
    animation: typing 3s steps(30) forwards 2s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.services {
    background-color: rgba(35, 0, 0);
    padding: 80px 0;
    text-align: center;

}

.section-title {
    font-size: 30px;
    margin-bottom: 50px;
    color: #ffffff;
    font-family: 'Cairo', sans-serif;
}

.services-grid {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.service-card {
    background: transparent;
    padding: 40px 30px;
    border-radius: 20px;
    flex: 0 1 320px;
    box-shadow: 0 10px 10px rgb(134, 98, 7);
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

.icon-box {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 24px;
    color: #ffffff;

}

.icon-box.blue {
    background-color: #007bff;
}

.icon-box.orange {
    background-color: green;
}

.icon-box.red {
    background-color: #ff0000;
}

/* الـ Progress Bars */
.progress-container {
    margin-top: 25px;
    background: #eeeeee;
    height: 10px;
    border-radius: 20px;
    overflow: hidden;
    /* عشان البار ميتخطاش الحواف */
}

.progress-bar {
    height: 100%;
    width: 0;
    animation: growBar 2s forwards ease-in-out 1s;
}

/* ألوان البارات الصريحة */
.blue-bar {
    background-color: #007bff;
}

.orange-bar {
    background-color: #fd7e14;
}

.red-bar {
    background-color: #ff0000;
}

@keyframes growBar {
    to {
        width: var(--target-width);
    }
}

.progress-text {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.crisis-section {
    background-color: rgba(35, 0, 0);
    padding: 80px 0;
    direction: rtl;
    text-align: center;
}

.crisis-grid {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.crisis-column {
    flex: 0 1 450px;
}

/* العناوين */
.crisis-title {
    font-size: 28px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* الكروت والتأثيرات */
.crisis-card {
    background-color: transparent;
    /* #161616 */
    /* نفس درجة الرمادي الغامق */
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid #222222;
    /* الـ Shadow اللي عاجبك مع لمسة Glow خفيفة */
    box-shadow: 0 10px 10px goldenrod;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.crisis-card:hover {
    transform: translateY(-5px);
}

/* تخصيص ألوان التعليم (الأزرق) */
.blue-text {
    color: green;
}

/* أزرق سماوي زي الصورة */
.crisis-column:first-child .crisis-card:hover {
    box-shadow: 0 0 20px green;
    border-color: green;
}

.red-text {
    color: #ff3131;
}

.crisis-column:last-child .crisis-card:hover {
    box-shadow: 0 0 20px rgba(255, 49, 49, 0.2);
    border-color: #ff3131;
}

.stat-number {
    display: block;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.crisis-card p {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
}